@use "./partials/mixins.scss";
@use "./partials/colors.scss";

*{
    // margin: 0px;
    // padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: colors.$main-color;
}

.loadin {
  opacity: 0;
  transform: translateY(45px);
  transition: transform 0.6s, opacity 0.9s;

  &.loaded {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
  }
}


.navbar{
    // position: fixed;
    // top: 0px;
    @include mixins.md-lg-screen{
        @include mixins.flex(row,space-between);
        height: 80px;
        padding-left: 30px;
        padding-right: 30px;
        &__menu{
            &__list{
                @include mixins.flex(row,space-between);
                gap: 30px;
                list-style: none;
                &__item{
                    :hover{
                        color: colors.$main-color;
                    }
                    &__link{
                        text-decoration: none;
                        color: colors.$secondary-color;
                    }
                }
            }
        }
    }

    @include mixins.phone{
        @include mixins.flex(column,center);
        height: 60px;
        &__menu{
            &__list{
                @include mixins.flex(row,space-between);
                padding-left: 0px;
                gap: 30px;
                list-style: none;
                &__item{
                    :hover{
                        color: colors.$main-color;
                    }
                    &__link{
                        text-decoration: none;
                        color: colors.$secondary-color;
                    }
                }
            }
        }
    }
    
    
}

.section--about-me{
    @include mixins.phone{
        @include mixins.flex(column-reverse,center,flex-start);
        // height: 100vh;
        padding: 0px 5%;
    }
    @include mixins.md-lg-screen{
        @include mixins.flex(row,center,flex-start);
        height: 100vh;
        background-color: colors.$background-color;
        &__text{
            width: 50%;
            height: 70%;
            padding: 100px;
            &--title{
                @include mixins.typography(14px,colors.$secondary-color,300);
            }
            &--name{
                line-height: 1.8em;
                @include mixins.typography(48px,colors.$header-color,600);
            }
            &--content{
                @include mixins.typography(14px,colors.$main-color,400);
                line-height: 1.75em;
            }
        }
    }

    &__img{
        width: 50%;
        &>img{
            width: 70%;
        }
    }
}

.section{
    @include mixins.md-lg-screen{
        // height: 100vh;
        margin-top: 50px;
        padding: 0px 15%;
        &__title{
            @include mixins.title;
        }
        &__content{
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    @include mixins.phone{
        @include mixins.flex(column,flex-start,center);
        margin-top: 50px;
        padding: 0px 5%;
        &__content{
            @include mixins.flex(column,flex-start,center);
        }
    }
    
}

.section--skills{
    @include mixins.phone{
        &__content{
            @include mixins.flex(row,center);
            flex-wrap: wrap;
            gap: 20px;
            &__item{
                @include mixins.skill-card;
                width: 30%;
                &--name{
                    margin: 5px 0px;
                }
            }
        }  
    }
    @include mixins.md-lg-screen{
        &__content{
            @include mixins.flex(row,flex-start);
            &__item{
                @include mixins.skill-card;
                &--name{
                    margin: 5px 0px;
                }
                img{
                    width: 50px;
                    height: 50px
                }
            }
        }  
    }
}


.btn{
    @include mixins.button;
}

.section--projects{
    @include mixins.phone{
        &__content{
            @include mixins.flex(column,center);
            &__item{
                width: 95%;
                &__link{
                    &--img{
                        width: 100%;
                    }
                }
            }
        }

    }
    @include mixins.md-lg-screen{
        &__content{
            @include mixins.flex(row,center);
            &__item{
                width: 30%;
                &__link{
                    &--img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.section--contact{
    @include mixins.phone{
        padding: 0px;
        &__content{
            background-color: colors.$background-color;
            width: 100%;
            &__item{
                &--list{
                    padding: 0px;
                    @include mixins.list;
                }
                &--form{
                    @include mixins.flex(column,flex-start,flex-start);
                    gap: 20px;
                    input{
                        height: 30px;
                    }
                    input,textarea{
                        @include mixins.input(85%);
                    }
                    ::placeholder{
                            @include mixins.placeholder;
                        }
                }
            }
        }
    }
    @include mixins.md-lg-screen{
        &__content{
            padding: 10%;
            @include mixins.flex(row,center);
            flex-wrap: nowrap;
            background-color: colors.$background-color;
            &__item{
                &--list{
                    width: 45%;
                    @include mixins.list;
                }
                &--form{
                    width: 48%;
                    @include mixins.flex(column,flex-start,flex-start);
                    gap: 20px;
                    input{
                        height: 40px;
                    }
                    input,textarea{
                        @include mixins.input(95%);
                    }
                    ::placeholder{
                            @include mixins.placeholder;
                        }
                }
            }
        }
    }
}
